<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rabbitMQBus" type="MessageBus.Core.RabbitMQBusConfigSectionHandler, MessageBus.Core"/>
  </configSections>
  <rabbitMQBus brokerHost="myHost" port="1234" exchange="myExchange">
    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
  </rabbitMQBus>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
